*
{

    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    user-select: none;

}

._container
{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px 8% 0px 8%;

}

._screen_And_Keys
{

    width: 80%;
    height: 100%;
    float: left;

}

._screen
{

    width: 100%;
    height: 30%;

}

#_history_Screen
{
    
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    text-align: right;
    position: relative;
    
}

#_history_Screen span
{
    
    position: absolute;
    padding-right: 15px;
    bottom: 0; 
    right: 0;
    
}

#_current_Screen
{

    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 8px 15px 0px 0px;
    text-align: right;
    
}

#_current_Screen span
{

    font-size: 3.2rem;;

}
._history
{

    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 0px 0px 5px;
    float: right;
    overflow-y: auto;
    /* display: none; */

}

._history h1::after
{

    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: -4px 0px 0px 0px;
    background-color: rgb(255, 8, 160);

}

._key
{

    width: 100%;
    height: 60%;
    margin-top: 6.8%;

}

._row
{

    width: 100%;
    height: 16.66666%;
    background-color: rgba(8, 187, 241, 0);
    box-sizing: border-box;

}

._key ._row ._key_Style
{

    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.931);
    padding-top: 14px;
    font-size: 25px;
    align-items: center;
    border-left: 0.1px solid rgb(0, 0, 0);
    border-top: 0.1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;

}

#_backspace
{

    background-image: url(/Assets/Images/_backspace.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_addition
{

    background-image: url(/Assets/Images/_addition.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_division
{

    background-image: url(/Assets/Images/_division.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_multiplication
{

    background-image: url(/Assets/Images/_multiplication.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_subtraction
{

    background-image: url(/Assets/Images/_subtraction.svg);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_result
{

    background-image: url(/Assets/Images/_result.svg);
    background-size: 20px 20px;
    background-color: rgb(14, 243, 148);
    background-position: center center;
    background-repeat: no-repeat;

}

#_factorial
{

    background-image: url(/Assets/Images/_factorial.png);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_x_Square
{

    background-image: url(/Assets/Images/_x_Square.png);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_square_Root
{

    background-image: url(/Assets/Images/square-root.png);
    background-size: 25px 25px;
    background-position: center center;
    background-repeat: no-repeat;

}

#_mod
{

    border-top-left-radius: 80px;

}

._different_Color{

    background-color: rgb(255, 8, 160) !important;

}

/* Toggle button */

.switch 
{

    position: absolute;
    display: block;
    top: 20px;
    right: 42px;
    float: right;
    width: 60px;
    height: 34px;

}

.switch input 
{

    opacity: 0;
    width: 0;
    height: 0;

}

.slider 
{

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before 
{

    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}

input:checked + .slider 
{

    background-color: #2196F3;

}

input:focus + .slider 
{

    box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before 
{

    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}

/* Button animation */

._ripple
{
    position: absolute;
    background: rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    width: 1px;
    height: 1px;
    animation: _ripple_Effect .50s 1;
    transition: 0.100s ease-in;
    opacity: 0;
    
}
  
@keyframes _ripple_Effect 
{
    0% {
    transform: scale(1);
    opacity: 0.8;
    }
    100% {
    transform: scale(150);
    opacity: 0;
    }
}