*
{

    padding: 0px;
    margin: 0px;
    user-select: none;
    font-family: 'Roboto', sans-serif;

}

._container
{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px 8% 0px 8%;

}

._screen_And_Keys
{

    width: 80%;
    height: 100%;
    float: left;

}

._screen
{

    width: 100%;
    height: 30%;

}

#_history_Screen
{
    
    position: relative;
    overflow-x: auto;
    width: 100%;
    height: 50%;
    text-align: right;
    box-sizing: border-box;
    
}

#_history_Screen span
{
    
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    
}

#_current_Screen
{

    width: 100%;
    height: 50%;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 8px 15px 0px 0px;
    text-align: right;
    
}

#_current_Screen span
{

    font-size: 3.2rem;

}

._history
{

    width: 20%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 5px 0px 0px 5px;
    float: right;
    -webkit-transition: .4s;
    transition: .4s;

}

._choice_Container
{

    height: 20px;
    width: 100%;
    /* background-color: rgb(236, 163, 163); */
    overflow: auto;

}

._history h1::after
{

    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: -4px 0px 0px 0px;
    background-color: rgb(255, 8, 160);

}

._key
{

    width: 100%;
    height: 60%;
    margin-top: 62.3px;

}

._row
{

    width: 100%;
    height: 16.66666%;
    box-sizing: border-box;

}

._key ._row ._key_Style
{

    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.931);
    box-sizing: border-box;
    border-top: 0.1px solid rgba(0, 0, 0, 0.37);
    border-left: 0.1px solid rgba(0, 0, 0, 0.37);
    padding-top: 20px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 180ms cubic-bezier(0.300, 0.5, 0.1, 0.1);

}

._key ._row ._key_Style:hover
{

    background-color: rgb(162, 240, 181);

}

#_backspace
{

    background-image: url(/Assets/Images/_backspace.svg);
    
}

#_addition
{

    background-image: url(/Assets/Images/_addition.svg);

}

#_division
{

    background-image: url(/Assets/Images/_division.svg);

}

#_multiplication
{

    background-image: url(/Assets/Images/_multiplication.svg);

}

#_subtraction
{

    background-image: url(/Assets/Images/_subtraction.svg);

}

#_result
{

    background-image: url(/Assets/Images/_result.svg);
    background-color: rgb(243, 14, 121);

}

#_factorial
{

    background-image: url(/Assets/Images/_factorial.png);

}

#_x_Square
{

    background-image: url(/Assets/Images/_x_Square.png);

}

#_square_Root
{

    background-image: url(/Assets/Images/square-root.png);

}

#_mod
{

    border-top-left-radius: 80px;

}

._different_Color{

    background-color: rgb(178, 171, 179) !important;

}

/* Toggle button */

.switch 
{

    float: right;
    position: absolute;
    display: block;
    top: 15px;
    right: 42px;
    width: 60px;
    height: 34px;

}

.switch input 
{

    opacity: 0;
    width: 0;
    height: 0;

}

.slider 
{

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before 
{

    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}

input:checked + .slider 
{

    background-color: #2196F3;

}

input:focus + .slider 
{

    box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before 
{

    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}

/* Button animation */

._ripple
{
    position: absolute;
    background: rgba(0, 0, 0, 0.712);
    border-radius: 50%;
    width: 1px;
    height: 1px;
    animation: _ripple_Effect .50s 1;
    transition: 0.100s ease-in;
    opacity: 0;
    
}
  
@keyframes _ripple_Effect 
{
    0%
    {

        transform: scale(1);
        opacity: 0.8;

    }
    100%
    {

        transform: scale(150);
        opacity: 0;

    }
}

/* Responsive  */

@media screen and (max-width: 480px)
{

    ._container
    {

        padding: 0px;

    }
    
    ._history h1
    {

        font-size: large;

    }

    .switch 
    {

        display: block;
        top: 2px;
        left: 2px;
        z-index: 1;

    }

    #_current_Screen span {

        font-size: 2rem;

    }

    ._history h1::after
    {


    width: 35px;
    height: 4px;
    margin: 0;

    }

    ._key
    {

        height: 68%;
        margin-top: 12.6px;

    }
    
    #_mod
    {

        border-top-left-radius: 15px;

    }

    ._different_Color
    {
    
    background-size: 15px 15px !important;

    }

}

@media screen and (min-width: 481px) and (max-width: 1316px)
{

    ._container
    {

        padding: 0px;

    }
    
    ._history h1
    {
        
        font-size: 1.5rem;
        
    }

    .switch 
    {

        display: block;
        top: 2px;
        left: 2px;
        z-index: 1;

    }

    #_current_Screen span {

        font-size: 2rem;

    }


    ._history h1::after
    {

        width: 35px;
        height: 4px;
        margin: 0;
        
    }

    ._key
    {

        height: 68%;
        margin-top: 12.3px;

    }
    
    ._different_Color
    {
    
        background-size: 15px 15px !important;

    }


    #_mod
    {

        border-top-left-radius: 15px;

    }

}

/* History items */

#_history_Section::-webkit-scrollbar
{

    width: 8px;
    
}

#_history_Section::-webkit-scrollbar-track
{
    
    background-color: #ebebeb;
    -webkit-border-radius: 50%;
    border-radius: 10px;
    
}

#_history_Section::-webkit-scrollbar-thumb
{

    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d7a; 

}

#_history_Section:hover::-webkit-scrollbar-thumb
{

    background: #6d6d6d; 

}

._each_History_Container
{

    width: 98%;
    height: 70px;
    margin: 2.5px 1% 0px 1%;
    padding: 5px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}

._each_History_Container:hover
{

    background-color: rgb(219, 219, 219);

}
._each_History_Container ._expression_Copy_History
{
    
    text-align: right;

}

._each_History_Container ._result_For_History
{

    
    text-align: right;
    margin-top: 1px;
    margin-right: 8px;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;


}
